.nav{
	padding-top: -5px;
	background-size: cover;
	width: 100%;
	height: 15vh;
}
ul{
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;
}
ul li{
	float: left;
	margin-top: 20px;
}
ul li a{
	width: auto;
	color: white;
	display: block;
	text-decoration: none;
	font-size: 15px;
	text-align: auto;
	padding: 10px;
	border-radius: 5px;
	font-family: monospace;
	font-weight: bold; 
}
a:hover{
	background: #383326;

}
ul li ul{
	background:   #4C4532;
}
ul li ul li{
	float: right;
}
ul li ul{
	display: none;
}
ul li:hover ul{
	display: inline-flex;
}
.last{
	margin-top: 60px;
	background: url(image/nature-2487844_960_720.jpg)no-repeat;
	height: 30vh;
	background-size: cover;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
body{
	background: url(image/26102.jpg) ;
}